<h1>Resultado de Transaccion</h1>
<div class="row">
  {{#each mensaje }}
    <div class="col-md-3">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title d-flex justify-content-between align-items-center">
            {{ nombres }}               
            </h4>
            <a href="/admin/lista_afiliados">Regresar</button>
        </div>
        </div>
    </div>

  {{/each}}
</div>