<div class="jumbotron mt-4">
  <h1 class="display-4">Proyecto 1 Software Avanzado</h1>
  <p class="lead">Microservicio Oficina</p>
  <hr class="my-4">
  <p>Debido a que se requiere de una plataforma para poder registrar usuarios de
forma presencial dentro de la subastadora o comunicándose a los teléfonos de la misma los
cuales son atendidos por personas contratadas por la subastadora para brindar este
servicio al cliente, se a propuesto como un microservicio el cual brindará una plataforma de
escritorio encargada de que las personas de atención al cliente de la subastadora puedan
registrar Afiliado e ingresar el debido pago.
  </p>
</div>